@using Microsoft.AspNetCore.Identity
@using CourseProject.Models
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home";
    var templates = ViewData["Templates"] as List<CourseProject.Models.Template>;
}
<div class="text-center">
    <h1 class="display-4">Hello, @ViewData["UserName"]!</h1>
</div>